
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Final Project
  style.
    a {
    color: white;
    }
    a:hover {
    color:gray
    }
    a:visited {
    color:purple
    }
    nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    h1 {
    text-shadow: 5px 5px 4px gray;
    color:midnightblue;
    }
    h4, h3 {
    color: rgb(82, 82, 153);
    font-family:'Courier New', Courier, monospace
    }
    form {
    border: 2px solid orangered;
    }
    body{
    background-image: url(Capture.JPG);
    background-repeat:no-repeat;
    background-position: center bottom;
    margin: 20px;
    }
form.form-inline.my-2.my-lg-0
  nav.navbar.navbar-expand-lg.navbar-dark(style='background-color:#dd7825;')
    a.navbar-brand(href='#')
      img.d-inline-block.align-top(src='Capture.JPG' width='35' height='35' alt='')
    a.nav-item.nav-link.active(href='#') Home 
    a.nav-item.nav-link(href='.about.html') About
    a#navbarDropdown.nav-link.dropdown-toggle(href='product.html' role='link' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
      | Product
    a.nav-item.nav-link(href='contact.html') Contact Us
    input.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
    button.btn.btn-outline-success(type='submit') Search
    button.onlick Login
h1 ConnectCircuit
h3 Distance is never  a factor!!
h4
  | Trust 
  span
  strong  ConnectCircuit 
  |  to keep you dispersely located but tightly connected to buying and selling
a(href='comIT/ ')
  img(src='my-button.jpg' alt='Follow  on Twitter')
